
body{
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url("img.jpg");
    background-size: cover;
    background-position: center;


}

.login-box{

    max-width: 700px;
    float: none;
    margin: 70px auto;
    left: 27%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding:  25px 30px;

}

.loginc{
    width: 700px;
    background: rgba(211,211,211,0.5);
    padding: 30px 10px;

}

.form-control{
    background-color: #ffff;
}

